@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e6f0f5; /* Light blue background */
}

::-webkit-scrollbar-thumb {
  background-color: #0f6e91; /* Thumb color */
  border-radius: 10px;
  border: 2px solid #e6f0f5; /* Optional border around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #052540; /* Darker on hover */
}

